* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rightback {
    position: fixed;          
    top: 0;
    left: 700px;              
    width: calc(100% - 700px); 
    height: 100vh;            
    background-color:#E5E5E569 ;
}
nav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 86px;
    left: 86px;
    width: calc(100% - 172px); 
    justify-content: space-between;
}
nav .left li {
    width: 87px;
    height: 35px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #3751FE;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .right {
    font-family: Roboto, sans-serif; 
    font-weight: 400; 
    font-size: 30px; 
}
ul { 
    list-style: none;
    margin: 0; 
    padding: 0; 
}
nav .right ul {
    display: flex;
    gap: 50px;
    width: 700px;
    color:#6B6B6B ;
}
nav .right ul li:first-child span {
    text-decoration: underline;
    text-decoration-color: #3751FE;
    text-underline-offset: 10px ;
}
.text .text1{
    width: 557px;
    height: 108px;
    position: absolute;
    opacity: 1;
    top: 230px;
    left: 86px;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3751FE;
}
.text .text2{
    width: 362;
    height: 21;
    position: absolute;
    opacity: 1;
    top: 366px;
    left: 86px;
   font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #00000099;
}
.text .text3{
    width: 362;
    height: 21;
    position: absolute;
    opacity: 1;
    top: 425px;
    left: 86px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #3751FE;
}

.form-container {
     position: relative;
}

.field {
    position: absolute;
    width: 554px;
    height: 74px;
    border-top: 2px solid rgba(229,229,229,0.41);
    border-right: 2px solid rgba(229,229,229,0.41);
    border-bottom: 2px solid rgba(229,229,229,0.41);
    border-left: 2px solid rgba(229,229,229,0.41);
    opacity: 1;
    background: #fff;
    padding: 28px 16px;
    }

.field:first-child {
    width: 554px;
    height: 74px;
    top: 454px;
    left: 89px;
}
.field:last-child {
    width: 554px;
    height: 74px;
    top: 526px;
    left: 89px;
}
.field input {
    width: 100%;
    font-family: Roboto, sans-serif;
    border: none;
    outline: none;
    font-size: 18px;
    color: #3751FE ;
    padding-top: 20px;
    background: transparent;
    font-weight: bold;
}
.field label {
    position: absolute;
    top: 18px;
    left: 16px;
    font-size: 18px;
    font-weight: 400;
    color: #777;
    font-family: Roboto, sans-serif;
    
}
.field ::placeholder{
    color: #3751FE;
    font-weight: bold;
}
.form-container .field:first-of-type {
    border-left: 6px solid #3751FE;
}

.rf {
    display: flex;
    justify-content: space-between;  
    align-items: center;            
    position: absolute;
    top: 610px;
    left: 89px;
    width: 554px;                     
    height: 21px;                     
    opacity: 1;
    color: #6B6B6B;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.rf .rem {
    display: flex;
    align-items: center;
    width: 118px;
    height: 21px;
    opacity: 1;
}

.rf .rem input[type="checkbox"] {
    margin: 10px;
}

.rf .rem label {
    line-height: 21px;               
    white-space: nowrap;
}

.ls {
    position: relative;  
}

.field2 {
    position: absolute;
    width: 129px;                    
    height: 54px;                     
    border: 1px solid #E5E5E569;
    background: #fff;
    opacity: 1;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.field2.login-btn {
    background: #3751FE;
    color: #FFFFFF;
    border-color: #3751FE;
    width: 129px;
    height: 54px;
    top: 714px;
    left: 85px;               
}

.field2.signup-btn {
    background: #FFFFFF;
    color: #3751FE;
    border-color: #3751FE;
    left: 250px;                      
    top: 714px;

}
.final{
    display: flex;
    align-items: center;
    position: absolute;
    top: 800px;
    left: 86px;
    opacity: 1;
    gap: 80px;
    
}
.final .left2 li{
    width: 101px;
    height: 21px;
    opacity: 1;
    font-family: Roboto, sans-serif;
    color: #6B6B6B;;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}
.final .right2 ul{
    display: flex;
    font-family: Roboto, sans-serif;
    gap: 80px;
    color: #3751FE;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 79px;
    height: 21px;
    opacity: 1;

}
.photo img {
    position: absolute;
    width: 750px;
    height: 550px;
    opacity: 1;
    top: 120px;
    left: 800px;
}